h3{
  margin-top:0px;
  margin-left: 5px;
}


.rental-labels{
  display:flex;
}

.rental-labels div{
  margin-left: 10px;
}

.submit-button{
  margin-left: 10px;
}

.check-out-section{
  background-color: red;
  margin-top: 0px;
}
