h3{
  margin-top:0px;
  margin-left: 5px;
}

.rental-labels{
  display:flex;
  margin-left: 70%;
}

form{
  margin-top:15px;
}
form div{
  margin-top:15px;
}
.check-out-section{
  background-color:gray;
}

.rental-labels div{
  margin-left: 10px;
  padding-bottom: 10px;
}

.submit-button{
  margin-left: 10px;
  margin-bottom: 5px;
  margin-right: 20px;
  margin-top: 5px;
}

.check-out-section{
  margin-top: 0px;
}
