.App {
  text-align: center;
}

.fixed {
  position: sticky;
  left: 0;
  top: 0;
  background-color: white;
}



.nav-bar{
  background-color:white;
  padding: 25px;

}

/* navigation bar */

.nav-bar{
  display:flex;
  flex-wrap:nowrap;
  justify-content: space-around;

}

.nav-bar li{
   list-style-type: none;
}
/* customer list */

.customer-list{
  display:flex;
  flex-wrap: wrap;
}

.customer-list > *{
  margin: 30px;

}

.customer-list > div {
  border: 1px solid black;
  padding:10px;
}

/* library movie list */

.library-list{
  display:flex;
  flex-wrap: wrap;
  margin-left: 30px;
}

.library-list > *{
  flex-grow: 0;
  flex-basis: 0;
  width: auto;
  margin: 10px;
}

/* database movie list */
.db-movie-search-list{
  display:flex;
  flex-wrap: wrap;
}

.db-movie-search-list > *{
  flex-grow: 0;
  flex-basis: 0;
  width: auto;
  margin: 10px;
}



.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
